body{
  font-family: Arial, sans-serif;
  background:#f2f8ff;
  text-align:center;
  margin:0;
  padding:0;
}

.site-title{
  color:#1e88e5;
  margin:20px;
}

#countdown{
  background:#1e88e5;
  color:white;
  padding:10px;
  font-size:18px;
  font-weight:bold;
}

.products{
  display:flex;
  flex-direction:column; /* عرض عمودي */
  align-items:center;
  gap:25px;
  margin-top:30px;
}

.product-card{
  border:2px solid #90caf9;
  border-radius:15px;
  padding:15px;
  width:260px;
  background:#fff;
}

.product-card img{
  width:100%;
  border-radius:10px;
}

.price{
  color:#1e88e5;
  font-weight:bold;
  margin:10px 0;
}

.order-btn{
  background:#fff;
  color:#1e88e5;
  border:2px solid #1e88e5;
  border-radius:25px;
  padding:10px;
  cursor:pointer;
  transition:0.3s;
}

.order-btn:active{
  background:#1e88e5;
  color:#fff;
}

.order-title{
  color:#1e88e5;
  margin-top:20px;
}

.big-img{
  width:260px;
  margin:20px auto;
  display:block;
  border-radius:15px;
}

.order-form{
  display:flex;
  flex-direction:column;
  gap:15px;
  width:260px;
  margin:auto;
}

.order-form input,
.order-form select{
  padding:12px;
  border-radius:25px;
  border:2px solid #90caf9;
  outline:none;
}

.confirm-btn{
  background:#1e88e5;
  color:#fff;
  border:none;
  padding:12px;
  border-radius:25px;
  cursor:pointer;
}
